<div class="set-div-main-container" style="background-image: url(assets/bg-index.jpg);">
  <!-- <h1 class="main-head">Explore The Extraordinary</h1> -->
  <div class="wrapper">
    <div class="typing-demo"><a href="#sub-head-id">
      Click and Be Part of <b style="color: red;">The Extraordinary.</b>
    </a>
    </div>
</div>
  
  <div class="sub-head-wrapper">
  <label class="sub-head" id="sub-head-id">We are scientists, engineers, IT specialists, human resources specialists, accountants, writers, technicians and many other kinds of people working together to break barriers to achieve the seemingly impossible. We are looking for <span style="color: #ff00d2;">volunteers </span> from all over the world to apply for this highly selective and historic mission.</label>
  <img class="sub-head-image" src="../../../assets/subHead1.jpg" width="20px" height="20px"/>
</div>
  <div>
    <div class="btn-head" routerLinkActive="active" routerLink="/create-employee">
      Join Us
    </div>
  </div>
</div>